.coffee {
  background: url('../img/menu-bg.jpg') no-repeat center center;
  background-size: cover;

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
  }

  &-item {
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(182, 136, 52, 0.2);
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;

    &_title {
      font-weight: 800;
      font-size: 1.5rem;
    }

    &_price {
      color: #b68834;
      font-weight: 600;
      font-size: 1.2rem;
    }

    &_description {
      font-weight: 300;
    }
  }
}
